.top-tab-collect{
	width: 900px;
	margin: 0 auto;
}
.top-tab{
	gap: 15px;
	float: right;
	display: flex;
}
.tab.login,
.tab.shopping,
.tab.store,
.tab.community,
.tab.library,
.tab.support{
	cursor: pointer;
}

.tab.login:hover
.tab.shopping:hover{
	font-weight: bold;
}


/* 부모요소 */
.parentsTab {
	display: flex;
	position: relative;
	gap: 5px;
	justify-content: center;
	top: 50px;
	margin: 0 auto;
}
.tab.store,
.tab.community{
	position: relative;
}

.tab.store ul{
	display: none;
	width: 220%;
	position: absolute;
	padding: 0;
	margin: 0;
	border: 1px solid white;
	top: 50px;
	left: 20px;
	background: black;
}
.tab.community ul{
	display: none;
	width: 100%;
	position: absolute;
	padding: 0;
	margin: 0;
	border: 1px solid white;
	top: 50px;
	left: 20px;
	background: black;
}
  
.tab.store:hover ul{
	display: inline-block;
}
.tab.community:hover ul{
	display: inline-block;
}
.tab > ul > li > div {
    padding: 10px;
    float: left;
    padding-left: 0
}
.tab.store:hover
,.tab.community:hover
,.tab.library:hover
,.tab.support:hover{
	font-weight: bold;
}
.tab.login:hover,
.tab.shopping:hover{
	font-weight: bold;
}



