.top-tab-collect{
	width: 900px;
	margin: 0 auto;
}
.top-tab{
	gap: 15px;
	float: right;
	display: flex;
}
.tab.login,
.tab.shopping,
.tab.store,
.tab.community,
.tab.library,
.tab.support{
	cursor: pointer;
}

.tab.login:hover
.tab.shopping:hover{
	font-weight: bold;
}


/* 부모요소 */
.parentsTab {
	display: flex;
	position: relative;
	gap: 5px;
	justify-content: center;
	top: 50px;
	margin: 0 auto;
}

.store-sub,
.community-sub {
	display: inline-block;
	position: relative;
	padding: 0;
	margin: 0;
	border: 1px solid white;
	top: 60px;
	left: 340px;
	background: black;
  }

.tab.store:hover  ul.store-sub
   {
    display: inline-block;
    border: 1px solid white;
    transition: 4s;
    background: navy;
  }
 .tab.community:hover + ul.community-sub{
    display: inline-block;
    border: 1px solid white;
    transition: 4s;
    background: navy;
  }
.tab > ul > li > div {
    padding: 10px;
    float: left;
    padding-left: 0
}
.tab.store:hover
,.tab.community:hover
,.tab.library:hover
,.tab.support:hover{
	font-weight: bold;
}
.tab.login:hover,
.tab.shopping:hover{
	font-weight: bold;
}



