div.storeShortcuts a,
div.communityShortcuts a,
div.steamHardware a{
	text-decoration: none;
	font-size: 20px;
	color: blue;
	font-weight: bold;
}
h1{
	font-size: 30px;
	font-weight: bold;
}
.storeShortcuts{
	width: 100%;
	display: inline-block;
	text-align: center;
}
.communityShortcuts{
	float: left;
}

.steamHardware{
	float: right;
}


footer{
	clear: both;
	position: absolute;
	bottom: 0;
	width: 100%;
}
