.img{
	width: 100%;
}
div.subNav{
	position: relative;
	top: 50px;
	display: flex;
	width: 80%;
	max-width: 900px;
	height: 30px;
	gap: 40px;
	justify-content: center;
	padding: 5px 10px 5px 15px;
	margin: 0 auto;
	background: #A9BCF5;
	flex-shrink: 0;
}
.searchSpace{
	flex: 1px;
}
.search{
	position: relative;
	top:-3.5px
}
div.myStore{
	cursor: pointer;
}
div.myStore:hover div{
	display: block;
}
div.myStore div{
	top: 15px;
	display: none;
	padding: 10px;
	cursor: pointer;
	background: #BDBDBD;
}
div.category{
	cursor: pointer;
}
.category:hover div{
	display: block;
}
div.category div{
	top: 15px;
	display: none;	
	padding: 10px;
	cursor: pointer;
	background: #BDBDBD;
}

div.pointStore{
	cursor: pointer;

}
div.category div:hover {
	background: black;
	color: white;
}
.carousel{
	width: 85%;
	margin: 0 auto;
}
article{
	margin-top: 20px;
}
div .carousel-item.active{
	display: flex;
	gap: 10px;
}
div .carousel-item.active img{
	max-height: 250px;
}
div .carousel-item{
	display: flex;
	gap: 10px;
}
div .carousel-item img{
	max-height: 250px;
}
div.screenshots{
	display: flex;
	width: 400px;
}
div.screenshots div{
	margin: 4px;
}
#carouselExampleIndicators{
	width: 800px;
}
div.carouselTitle{
	margin-bottom: 10px;
}
div.loginRecommended{
	display: flex;
	background: black;
}
div .subLoginRecommended{
	padding: 30px;
	margin: 0 auto;
	text-align: center;
}
div .subLoginRecommended div{
	padding: 10px;
	color: #6E6E6E;
	font-size: 15px;
}
div .subLoginRecommended h1{
	color: #0174DF;
	font-size: 20px;
}
button.tab.login{
	padding: 10px;
	border-radius: 10px;
	background: green;
}
div .subLoginRecommended a{
	text-decoration: none;
	color: white;
}