header{
	width: 100%;
	height:150px;
	background: gray;
	margin: 0;
	
}
.top-tab-collect{
	width: 900px;
	margin: 0 auto;
}
.top-tab{
	gap: 15px;
	float: right;
	display: flex;
}
.tab.login{
	cursor: pointer;
}
.tab.login:hover
.tab.shopping:hover{
	font-weight: bold;
}

/* 상단 탭의 부모 */
.tab{
	position: relative;
	display: flex;
	gap: 5px;
	padding-top: 35px;
	justify-content: center;	
	height: 70px;
}
.tab > ul{
	display: none;
	height: 0;
	border: 1px solid black;
	box-shadow: 2px 3px 2px black;
	transition: height 0.3s;
}
.tab > ul > li > div {
    padding: 10px;
}
.tab:hover > ul{
	display: block;
	height: auto;
	transition: 0.03s;
}
.tab.store:hover
,.tab.community:hover
,.tab.library:hover
,.tab.support:hover{
	cursor: pointer;
	font-weight: bold;
}



