div.game-info{
position: relative;
background:green;
width: 60%;
height: 70px;
}
div.price{
	position: absolute;
	display: flex;
	top:25px;
	right: 10px;
	background: yellow;
}
div.title{
	position: absolute;
	top:0;
	left: 200px;	
	padding: 7px;	
}
div.tag{
	position: absolute;
	bottom:0;
	left: 200px;
	padding: 7px;	
}
div.game-info img{
	float: left;
}
div#game-info-list-recent{
	display: none;
}
a.nav-link:target div#game-info-list-recent{
	display: flex;
}