<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="driver.properties"></properties>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>

	<typeAliases>
    <typeAlias type="kh.mclass.game.model.dto.GameInfoDto" alias="GameInfoDto"/>
    <typeAlias type="kh.mclass.game.model.dto.GameDetailInfoDto" alias="GameDetailInfoDto"/>
    <typeAlias type="kh.mclass.board.model.dto.BoardListInfoDto" alias="BoardListInfoDto"/>
</typeAliases>



	
	<environments default="semimmDBServer">
		<environment id="semimmDBServer">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}"/>
				<property name="url" value="${jdbc.semi.dbserver.url}"/>
				<property name="username" value="${jdbc.semi.username}"/>
				<property name="password" value="${jdbc.semi.password}"/>
			</dataSource>
		</environment>
		<environment id="semimmLocalhost">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}"/>
				<property name="url" value="${jdbc.semi.localhost.url}"/>
				<property name="username" value="${jdbc.semi.username}"/>
				<property name="password" value="${jdbc.semi.password}"/>
			</dataSource>
		</environment>

	</environments>
	<mappers>
		<mapper resource="mappers/game-mappers.xml"/>
		<mapper resource="mappers/gameDetail-mappers.xml"/>
		<mapper resource="mappers/board-mappers.xml"/>
	</mappers>




</configuration>